<div>
<h1>Restaurant List</h1>
<h3>Current Owner ID: <%= current_owner.id %></h3>
<input class="navbar-search" class="pull-right" type="search" placeholder="Find a restaurant"/ ><hr/>
</div>

<table class='table table-striped'>
  <tr>
  	<th>Name</th>
  	<th>Description</th>
  	<th>Address</th>
  	<th>Phone Number</th>
    <th>Photo</th>
    <th>Owner ID</th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.description %></td>
    <td><%= restaurant.address %></td>
    <td><%= restaurant.phone_number %></td>
    <td><%= image_tag restaurant.photo, :size => "300x250" %></td>
    <td><%= restaurant.owner_id %></td>
    <td><%= link_to "Show Restaurant", restaurant_path(restaurant), :class =>'btn btn-primary' %></td>
    <% if current_owner.id == restaurant.owner_id %>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant), :class =>'btn btn-default' %></td>
    <td><%= link_to 'Destroy', restaurant_path(restaurant), 
    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to "New Restaurant", new_restaurant_path, :class =>'btn btn-success' %>